.inputControl {
    position: relative;
}

.inputControl input {
    display: block;
    padding: 5px;
    outline: none;
}

.inputControl input:focus-visible {
    border: 2px solid #000;
}

.inputControl.error input {
    border: 2px solid red;
}

.inputControl.error span {
    color: red;
}