.wrapper {
    width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 3.75rem 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header header"
    "nav content";
}

.app-wrapper-content {
    grid-area: content;

}