.nav {
    grid-area: nav;
    padding:  30px 50px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;


}
.item{
    margin-bottom: 10px;
}
.item a {
    text-decoration: none;
    color: #6d6e71;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.item a:hover {
    color: #27aae1;
    transition: all 0.3s ease-in-out;
}
.item a.active {
    color: #27aae1
}

.avatar {
    max-width: 50px;
}