
.status {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.status input {
    padding: 5px 10px; /* Поля вокруг текста */
    font-size: 16px; /* Размер шрифта */
    border: 2px solid #ccc; /* Граница */
    border-radius: 5px; /* Скругление углов */
    outline: none; /* Удаление выделения при фокусе */
    transition: border-color 0.3s ease;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
}

.formControl {
    position: relative;
}

.error {
}

input, textarea {
    border: 1px solid #ff2525;
}

span {
    position: absolute;
    top: -18px;
    right: 5px;
    font-size: 1.2rem;
    color: #ff2525;
}
