.form label {
    display: block;
    margin-bottom: 0.5rem;
}

.summaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
    max-width: 320px;
}
.loginForm {
    position: relative;
}

.checkbox {
    display: flex;
    gap: 1rem;
}

.error {
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 1.2rem;
    color: #ea2f64;
}
